*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.operationBtns{
    margin-top: 20px;
}
#numInput{
    width: 127px;
    padding: 2px 5px;
}